# Defines consoles to be displayed in LUCI.
#
# See https://chromium.googlesource.com/infra/luci/luci-go/+/master/milo/api/config/project.proto
# for schema of this file and documentation.

logo_url: "https://storage.googleapis.com/chrome-infra-public/logo/v8.svg"

headers {
  id: "v8"
  tree_status_host: "v8-status.appspot.com"

  links: {
    name: "Consoles"
    links: {
      text: "client.v8"
      url: "/p/v8/g/main"
      alt: "Main V8 Console"
    }
    links: {
      text: "client.v8.ports"
      url: "/p/v8/g/ports"
      alt: "Ports V8 Console"
    }
    links: {
      text: "client.v8.fyi"
      url: "/p/v8/g/fyi"
      alt: "FYI V8 Console"
    }
    links: {
      text: "client.v8.clusterfuzz"
      url: "/p/v8/g/clusterfuzz"
      alt: "Branches V8 Console"
    }
    links: {
      text: "client.v8.chromium"
      url: "/p/v8/g/chromium"
      alt: "Branches V8 Console"
    }
    links: {
      text: "client.v8.branches"
      url: "/p/v8/g/branches"
      alt: "Branches V8 Console"
    }
  }

  # TODO(sergiyb): Controls
  # TODO(sergiyb): LKGR

  console_groups {
    console_ids: "v8/ports"
    console_ids: "v8/fyi"
    console_ids: "v8/branches"
  }
}

consoles: {
  id: "main"
  name: "Main"
  repo_url: "https://chromium.googlesource.com/v8/v8"
  ref: "refs/heads/master"
  manifest_name: "REVISION"
  favicon_url: "https://storage.googleapis.com/chrome-infra-public/logo/v8.ico"
  header_id: "v8"

  builders: {
    name: "p/v8/builders/luci.v8.ci/V8 Linux64 - builder"
    category: "Linux64"
    short_name: "b"
  }

  builders: {
    name: "p/v8/builders/luci.v8.ci/V8 Linux64"
    category: "Linux64"
    short_name: "t"
  }

  builders: {
    name: "p/v8/builders/luci.v8.ci/V8 Linux64 - verify csa"
    category: "Linux64"
    short_name: "csa"
  }

  builders: {
    name: "p/v8/builders/luci.v8.ci/V8 Linux64 - internal snapshot"
    category: "Linux64"
    short_name: "is"
  }

  builders: {
    name: "p/v8/builders/luci.v8.ci/V8 Linux64 - fyi"
    category: "FYI"
    short_name: "t"
  }

  builders: {
    name: "p/v8/builders/luci.v8.ci/V8 Linux64 - gcov coverage"
    category: "FYI"
    short_name: "cov"
  }

  # TODO(sergiyb): More builders
}

consoles: {
  id: "ports"
  name: "Ports"
  repo_url: "https://chromium.googlesource.com/v8/v8"
  ref: "refs/heads/master"
  manifest_name: "REVISION"
  favicon_url: "https://storage.googleapis.com/chrome-infra-public/logo/v8.ico"
  header_id: "v8"
  # TODO(sergiyb): Add builders
}

consoles: {
  id: "fyi"
  name: "FYI"
  repo_url: "https://chromium.googlesource.com/v8/v8"
  ref: "refs/heads/master"
  manifest_name: "REVISION"
  favicon_url: "https://storage.googleapis.com/chrome-infra-public/logo/v8.ico"
  header_id: "v8"
  # TODO(sergiyb): Add builders
}

consoles: {
  id: "clusterfuzz"
  name: "ClusterFuzz"
  repo_url: "https://chromium.googlesource.com/v8/v8"
  ref: "refs/heads/master"
  manifest_name: "REVISION"
  favicon_url: "https://storage.googleapis.com/chrome-infra-public/logo/v8.ico"
  header_id: "v8"
  # TODO(sergiyb): Add builders
}

consoles: {
  id: "chromium"
  name: "Chromium"
  repo_url: "https://chromium.googlesource.com/v8/v8"
  ref: "refs/heads/master"
  manifest_name: "REVISION"
  favicon_url: "https://storage.googleapis.com/chrome-infra-public/logo/v8.ico"
  header_id: "v8"
  # TODO(sergiyb): Add builders
}

consoles: {
  id: "branches"
  name: "Branches"
  repo_url: "https://chromium.googlesource.com/v8/v8"
  ref: "refs/heads/master"
  manifest_name: "REVISION"
  favicon_url: "https://storage.googleapis.com/chrome-infra-public/logo/v8.ico"
  header_id: "v8"
  # TODO(sergiyb): Add builders
}

consoles: {
  id: "tryserver"
  name: "Tryserver"
  repo_url: "https://chromium.googlesource.com/v8/v8"
  ref: "refs/heads/master"
  manifest_name: "PATCHED"
  favicon_url: "https://storage.googleapis.com/chrome-infra-public/logo/v8.ico"
  header_id: "v8"

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_gc_stress_dbg"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_nosnap_rel"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_nosnap_dbg"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_gcc_compile_rel"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_gcc_rel"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_shared_compile_rel"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux64_gcc_compile_dbg"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux64_msan_rel"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux64_sanitizer_coverage_rel"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux64_tsan_rel"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_arm_dbg"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_arm_armv8a_rel"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_arm_armv8a_dbg"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_arm64_dbg"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_arm64_gc_stress_dbg"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_mipsel_compile_rel"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_mips64el_compile_rel"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_android_arm_compile_rel"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_node_linux64_rel"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_presubmit"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_win_compile_dbg"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_win_dbg"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_win64_msvc_compile_rel"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_chromium_gn_rel"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_blink_rel"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_fuchsia_rel_ng"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux64_asan_rel_ng"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux64_fyi_rel_ng"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux64_gyp_rel_ng"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux64_rel_ng"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux64_ubsan_rel_ng"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux64_verify_csa_rel_ng"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_arm64_rel_ng"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_arm_rel_ng"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_dbg_ng"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_nodcheck_rel_ng"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_noi18n_rel_ng"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_rel_ng"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_verify_csa_rel_ng"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_mac_rel_ng"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_mac_dbg"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_mac64_rel"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_mac64_dbg"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_mac64_asan_rel"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_mac_gc_stress_dbg"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_win64_rel_ng"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_win64_dbg"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_win_nosnap_shared_rel_ng"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_win_rel_ng"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_win_asan_rel_ng"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux64_rel_ng_triggered"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux64_ubsan_rel_ng_triggered"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux64_verify_csa_rel_ng_triggered"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_arm64_rel_ng_triggered"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_arm_rel_ng_triggered"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_dbg_ng_triggered"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_nodcheck_rel_ng_triggered"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_rel_ng_triggered"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_win64_rel_ng_triggered"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_mac_rel_ng_triggered"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux_verify_csa_rel_ng_triggered"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_win_nosnap_shared_rel_ng_triggered"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_win_rel_ng_triggered"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux64_asan_rel_ng_triggered"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux64_gyp_rel_ng_triggered"
  }

  builders: {
    name: "p/v8/builders/luci.v8.try/v8_linux64_fyi_rel_ng_triggered"
  }
}
