# Defines jobs on luci-scheduler.appspot.com.
#
# For schema of this file and documentation see ProjectConfig message in
# https://github.com/luci/luci-go/blob/master/scheduler/appengine/messages/cron.proto

acl_sets {
  name: "default"
  acls {
    role: READER
    granted_to: "group:all"
  }
  acls {
    role: OWNER
    granted_to: "group:project-v8-admins"
  }
}

# Triggers first. Please keep triggers sorted by id.

# Example trigger:
# trigger {
#   id: "gitiles-trigger"
#   acl_sets: "default"
#   gitiles: {
#     repo: "https://chromium.googlesource.com/v8/v8"
#     refs: "refs/heads/master"
#   }
#
#   # specify the jobs this trigger will trigger:
#   # triggers: "continuous-trusty-64"
#   # triggers: "continuous-win-64"
# }

# Jobs second. Please keep jobs sorted by id.

# Example job:
# job {
#   id: "continuous-trusty-64"
#   acl_sets: "default"
#   schedule: "with 10m interval"
#   buildbucket: {
#     server: "https://cr-buildbucket.appspot.com"
#     bucket: "luci.v8.ci"
#     builder: "linux_rel"
# }
}
