# Copyright 2017 the V8 project authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
#
# For the schema of this file and documentation, see ProjectConfig message in
# https://luci-config.appspot.com/schemas/services/luci-logdog:logdog.cfg
# Auth groups who can read log streams.
reader_auth_groups: "all"
# Auth groups who can register and emit new log streams.
writer_auth_groups: "luci-logdog-chromium-writers"
# The base Google Storage archival path for this project.
#
# Archived LogDog logs will be written to this bucket/path.
archive_gs_bucket: "chromium-luci-logdog"
