#include "lexer/even-more-experimental-scanner.h"


{# TODO implement CLASS checks #}
{%- macro do_key(key) -%}
  {%- for r in key.range_iter() -%}
    {%- if not loop.first %} || {% endif -%}
    {%- if r[0] == 'LATIN_1' -%}
      {%- if r[1][0] == r[1][1] -%}
	yych == {{r[1][0]}}
      {%- elif r[1][0] == 0 -%}
	yych <= {{r[1][1]}}
      {%- elif r[1][1] == 255 -%}
	yych >= {{r[1][0]}}
      {%- else -%}
	({{r[1][0]}} <= yych && yych <= {{r[1][1]}})
      {%- endif -%}
    {%- elif r[0] == 'CLASS' -%}
      {%- if r[1] == 'eof' -%}
	(yych == 0 && cursor_ == buffer_end_)
      {%- else -%}
	false
      {%- endif -%}
    {%- else -%}
      false
    {%- endif -%}
  {%- endfor -%}
{%- endmacro -%}


{% macro dispatch_action(type, value) -%}
  {%- if type == 'code' %}
    {{value}}
  {% elif type == 'terminate' %}
    PUSH_EOS();
  {% elif type == 'terminate_illegal' %}
    PUSH_EOS();
  {% elif type == 'skip' %}
    SKIP();
  {% elif type == 'skip_and_terminate' %}
    SKIP();
    --start_;
    {{dispatch_action('terminate', None)}}
  {% elif type == 'push_line_terminator' %}
    PUSH_LINE_TERMINATOR();
  {% elif type == 'push_token' %}
    PUSH_TOKEN(Token::{{value}})
  {% elif type == 'push_token_and_go_forward' %}
    PUSH_TOKEN_AND_GO_FORWARD(Token::{{value}})
  {% else %}
    uncompilable code for {{type}}
  {% endif -%}
{%- endmacro -%}


{%- macro do_dfa_state(state) -%}

  {%- if start_node_number == state.node_number %}
    code_start:
  {% else %}
    code_{{state.node_number}}:
  {% endif %}

  {% if debug_print %}
    fprintf(stderr, "state {{state.node_number}}\n");
  {% endif -%}

  {%- set entry_action = state.entry_action -%}
  {%- if entry_action %}
    {{ dispatch_action(entry_action[0], entry_action[1]) }}
  {%- endif %}

  {%- if debug_print %}
    fprintf(stderr, "char at hand is %c (%d)\n", yych, yych);
  {% endif %}

  // matchers
  {%- for match_key, match_state in state.transitions %}
    if ({{do_key(match_key)}}) {
      FORWARD();
      goto code_{{match_state}};
    }
  {% endfor -%}

  {%- set match_action = state.match_action -%}

  {%- if match_action %}
    {{ dispatch_action(match_action[0], match_action[1]) }}
    goto code_start;
  {% else %}
    goto default_action;
  {%- endif %}

{%- endmacro %}

#define PREPARE_PUSH_TOKEN() {        \
  *beg_pos_to_return = start_ - buffer_; \
  *end_pos_to_return = cursor_ - buffer_; \
  start_ = cursor_;                   \
  just_seen_line_terminator_ = false; \
}

#define PUSH_TOKEN(T) {               \
  PREPARE_PUSH_TOKEN();               \
  return T;                           \
}

#define PUSH_TOKEN_AND_GO_FORWARD(T) {\
  PREPARE_PUSH_TOKEN();               \
  FORWARD();                          \
  return T;                           \
}

#define PUSH_EOS() {                  \
  --cursor_;                          \
  PUSH_TOKEN(Token::EOS);             \
}

#define PUSH_LINE_TERMINATOR(s) {     \
  start_ = cursor_;                   \
  just_seen_line_terminator_ = true;  \
}

#define FORWARD() {                   \
  yych = *(++cursor_);                \
}

#define BACKWARD() {                  \
  yych = *(--cursor_);                \
}

#define SKIP() {                      \
  start_ = cursor_;                   \
}

namespace v8 {
namespace internal {
Token::Value EvenMoreExperimentalScanner::Next(int* beg_pos_to_return,
                                               int* end_pos_to_return) {
  // Setup environment.
  YYCTYPE yych = *cursor_;

{# first node is start node #}
{% for dfa_state in dfa_states -%}
  {{ do_dfa_state(dfa_state) }}
{%- endfor %}

  // Should never fall off the edge.
  goto fell_through;
  // Execute the default action.
  default_action:
{%- if debug_print %}
    fprintf(stderr, "default action\n");
{% endif -%}
    {{dispatch_action(default_action[0], default_action[1])}}
  FORWARD();
  goto code_start;

  fell_through:
  CHECK(false);
}
} }

